#entry_oldpass, #entry_newpass {
   border-image: none;
   background-image: none;
   border-style: solid;
   border-width: 1px;
   color: #282C34;
   border-color: #282C34;
   border-radius: 0.2px;
}